<h1>Word Puzzle<h1/>

<p>Enter in a sentence or word here</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="type" class="control-label">Sentence:</label>
    <input class="form-control" id="sentence" name="sentence" type="type">
  </div>

  <button type="submit" id="button" class="btn">Submit</button>
</form>
